<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manager.mapper.ProjectMapper">
    <select id="selectProjects" resultType="com.example.manager.domain.vo.project.ProjectVO">
        select p.*,
        count(distinct n.id) as node_count,
        count(distinct pr.id) as resource_count
        from project p
        left join node n on p.id = n.project_id
        left join project_resource pr on pr.project_id = p.id
        <where>
            <if test="dto.name != null and dto.name != ''">
                p.name like concat('%', #{dto.name}, '%')
            </if>
        </where>
        group by p.id
    </select>
</mapper>
